node_modules
.next
out
coverage
.netlify
.vercel
.cache
.DS_Store
.env
.env.*
*.log

Crane and construction workers at the top of a building - Free Stock Video.mp4
Construction cranes in front of the sunset - Free Stock Video.mp4
Loader digging earth for construction - Free Stock Video.mp4

1.jpeg
2.jpeg
3.jpeg
1.mp4
2.mp4
3.mp4
4.mp4
